<template>
    <button @click="store.generateNewCharacters()" class="button"><span class="icon"><i
                class="fas fa-dice-d20"></i></span>
        <span> Roll </span></button>
</template>

<script setup lang="ts">
import { useCharacterStore } from '../../stores/characters';

const store = useCharacterStore();

</script>

<style scoped>button {
    color: #fff;
    background-color: #9c0719;
}

button:hover {
    color: #fff;
    background-color: #5d0610;
}

button:focus {
    color: #fff;
    background-color: #9c0719;
}</style>