<template>
    <button class="button is-info" @click="store.viewSavedCharacters">
        <span class="icon"><i class="fas fa-user"></i></span>
        <span>
            {{
                savedCharacters.length
            }} Characters
        </span></button>
</template>

<script setup lang="ts">import { storeToRefs } from 'pinia';
import { useCharacterStore } from '../../stores/characters';
const store = useCharacterStore();
const { savedCharacters } = storeToRefs(store);

</script>

<style scoped></style>