<template>
    <div class="card is-dark mt-2 mb-4">
        <div class="card-content">
            <h3 class="title is-3">{{ ancestries[character.ancestryId].name }}</h3>
            <h6 class="subtitle is-6">{{ ancestries[character.ancestryId].description }}</h6>
            <div class="row">
                <p class="label">Novice:</p>
                <Path :path="novice[character.novicePathId]"></Path>
            </div>
            <div class="row">
                <p class="label">Expert:</p>
                <Path :path="expert[character.expertPathId]"></Path>
            </div>
            <div class="row">
                <p class="label">Master:</p>
                <Path :path="master[character.masterPathId]"></Path>
            </div>
        </div>
        <footer class="card-footer">
            <button v-if="character.id" @click="deleteCharacter()" class="button is-danger is-light
                card-footer-item">
                <span class="icon"><i class="fas fa-trash"></i></span>
                <span> Delete </span>
            </button>
            <button v-else @click="saveCharacter()" class="button is-success is-light
                card-footer-item">
                <span class="icon"><i class="fas fa-save"></i></span>
                <span> Save </span>
            </button>
        </footer>  </div>
</template>

<script setup lang="ts">
import { Ref, toRef, ref } from 'vue';
import { Character } from './models';
import { useCharacterStore } from '../stores/characters';

import Path from './Path.vue';
import { usePathStore } from '../stores/paths';
import { useAncestryStore } from '../stores/ancestries';
const props = defineProps(["character"])
const character = toRef(props, "character") as Ref<Character>;
const store = useCharacterStore();
const { novice, expert, master } = usePathStore();
const { ancestries } = useAncestryStore();

function saveCharacter() {
    store.saveCharacter(character.value);
}

function deleteCharacter() {
    store.deleteCharacter(character.value.id!);
    character.value.id = undefined;
}

</script>

<style scoped>.card {
    width: 100%;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .card {
        margin-right: 3%;
        width: 30%;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.label {
    width: 3rem;
    margin-right: 1rem;
}

.label:not(:last-child) {
    margin-bottom: 0;
}

footer {
    border: none
}</style>