<template>
    <h2 class="title">Generation Options</h2>
    <div class="options">
        <label class="checkbox">
            Monstrous Ancestries
            <input type="checkbox" v-model="options.includeMonstrous" @change="updateOptions()" />
        </label>
        <label class="checkbox">
            Magical Paths
            <input type="checkbox" v-model="options.includeMagical" @change="updateOptions()" />
        </label>  </div>
</template>

<script setup lang="ts">import { reactive } from 'vue';
import { useCharacterStore } from '../stores/characters';

const characters = useCharacterStore();

const options = reactive({ includeMonstrous: true, includeMagical: true });

function updateOptions() {
    characters.$patch({ options: options })
}


</script>

<style scoped>.options {
    display: flex;
    justify-content: flex-start;
}

label {
    margin-right: 1rem;
}</style>