<template>

    <button class="path has-tooltip-top has-tooltip-multiline" :class="{ 'has-tooltip-active': tooltipActive }"
        :data-tooltip="props.path.description">
        <p>
            {{ props.path.name }}
        </p></button>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps(["path"]);
const tooltipActive = ref(false)

</script>

<style scoped>.path {
    font-size: 1rem;
    color: #4a4a4a;
    background: none;
    border: none;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(0, 0, 0, 50%);
}</style>