<script setup lang="ts">
import Navbar from './components/Navbar.vue'
import CharacterVue from './components/Character.vue';
import GenerationOptions from './components/GenerationOptions.vue';
import GenerateButton from './components/buttons/GenerateButton.vue';
import { useCharacterStore } from './stores/characters';
import { storeToRefs } from 'pinia';
import SavedCharactersButton from './components/buttons/SavedCharactersButton.vue';
const store = useCharacterStore()
const { characters } = storeToRefs(store);
</script>

<template>
    <Navbar></Navbar>
    <div class="container is-dark">
        <div class="m-3">
            <div class="top-row">
                <div>
                    <GenerationOptions></GenerationOptions>
                </div>
                <p class="info-hint">
                    This character roller uses data from
                    <a href="https://docs.google.com/spreadsheets/d/1f1s9_wSgvq_RRYGISkGw-sO7nzv3bZ9HdxDHLp81t2w"
                        target="_blank"> <span class="icon"><i class="fab fa-google-drive"></i></span> Bookrat's SotDL
                        Guide</a>
                </p>
            </div>


            <hr />
            <div class="buttons roll">
                <GenerateButton></GenerateButton>
                <SavedCharactersButton></SavedCharactersButton>
            </div>
            <div class="characters">
                <CharacterVue v-for="character in characters" :character="character"></CharacterVue>
            </div>
        </div>   </div>
</template>

<style>.characters {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.roll {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 42;
}

.info-hint {
    flex-grow: 0;
    flex-basis: 15rem;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 768px) {
    .characters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .roll {
        position: initial;
    }

}</style>
